    body.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("BG.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }
    div.Content-Home{
        display: block;
    }
    div.Tag{
        display: flex;
        padding: 50px;
        font-size: 50px;
        justify-content: center;
    }
    
    a.Button-Profile{
        float: left;
        display: flex;
        padding: 20px 50px;
        margin: 20px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 30px;
        text-decoration: none;
    }
    
    /* infornation */
    body.information{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        background: #96d0ba;
    }
     .Sidebar {
        display: block;
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #568;
        overflow-x: hidden;
        padding-top: 20px; 
    }
    
    .Sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .Sidebar ul li {
        padding: 10px;
    }
    
    .Sidebar ul li a {
        display: flexbox;
        color: white;
        text-decoration: none;
    }
    .Sidebar ul li i {
        width: 20px;
        height: 20px;
    }
    
    .Sidebar ul li a:hover {
        display: inline-block;
        background-color: #555;
    }
    div.content{
        display: block;
        justify-content: center;
        padding-left: 250px;
    }
    section h1{
        font-size: 30px;
    }

    section#Profile img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    section#Profile p{
        font-size: 17px;
    }
    section#Experiences img{
        display: block;
        width: 400px;
        height: 300px;
        margin: 20px;
    }
    section#Activity img{
        display: block;
        width: 400px;
        height: 300px;
        margin: 20px;
    }